.body {
    font-family: Arial, Helvetica, sans-serif
}
.todolist {
    font-weight: bold;
}

.main,.js-to-do {
    display: grid;
    grid-template-columns:  200px 200px 100px;
    column-gap: 10px;
    align-items: center;
}
.main {
    margin-bottom: 10px;
    align-items: stretch;
}

.js-to-do {
    row-gap: 10px;
}

.js-add-to-do{
    background-color: red;
    color: white;
    border: none;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}

.js-delete-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}